@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

* {
    font-family: 'PT Sans';
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    .inside {
        margin: 20px auto;
    }
}

#auth_block {
    margin-top: 100px;
    padding: 15px;
    background: #FFF;
    box-shadow: 0 4px 6px 2px #AAA;
    text-align: center;
    .social {
        width: 32px;
    }
}

.menu {
    li {
        a {
            &.active {
                text-decoration: underline;
            }
        }
    }
}

.block {
    box-shadow: 0 4px 6px 2px #AAA;
    padding: 15px;
    .button {
        margin: 0;
    }
    h5 {
        text-align: center;
    }
    .lined {
        text-decoration: underline;
    }
}

.product_block {
    div {
        margin-bottom: 5px;
    }
    .product_image {
        height: 200px;
        img {
            height: 100%;
        }
    }
    .product_caption {
        p {
            margin-bottom: 0;
        }
    }
}

.publish_block {
    textarea {
        height: 125px;
    }
}

.publish_photo {
    text-align: center;
    img {
        max-width: 100%;
        max-height: 450px;
    }
}