@import url('https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic');

* {
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: 400;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    .inside {
        margin: 20px auto;
    }
}

.button {
    font-family: 'PT Sans';
}

#auth_block {
    margin-top: 100px;
    padding: 15px;
    background: #FFF;
    box-shadow: 0 4px 6px 2px #AAA;
    text-align: center;
    .social {
        width: 32px;
    }
}

nav {
    .top-bar {
        background: linear-gradient(to bottom, #f5ffff 0%,#ffda2a 100%);
        .menu {
            background: none;
            li {
                &.logo {
                    img {
                        max-height: 38px;
                    }
                }
                a {
                    &.active {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.news, .updates {
    p {
        margin-bottom: 3px;
        &.updated {
            a {
                text-decoration: underline;
            }
        }
    }
}

.block {
    box-shadow: 0 2px 6px 2px #CCC;
    padding: 15px;
    .button {
        margin: 0 10px 0 0;
    }
    h5 {
        text-align: center;
    }
    .lined {
        text-decoration: underline;
    }
}

.product_block {
    div {
        margin-bottom: 5px;
    }
    .product_deleted {
        color: red;
    }
    .product_image {
        height: 200px;
        img {
            height: 100%;
        }
    }
    .product_images {
        img {
            max-height: 75px;
            margin: 0 5px 5px 0;
        }
    }
    .product_caption {
        p {
            margin-bottom: 0;
        }
    }
}

.publish_block {
    textarea {
        height: 125px;
    }
}

.publish_photo {
    text-align: center;
    img {
        max-width: 100%;
        max-height: 450px;
    }
}

.catalog_block {
    text-align: center;
    height: 275px;
    margin-bottom: 10px;
    &.published {
        background: #DDD;
    }
    .catalog_image {
        height: 200px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}